@import './mixins/config.scss';
@import '../common/var.scss';
@mixin b($block){
    $B:$namespace + $element-separator + $block;
  
    @at-root {
      .#{$B}{
        @content;
      }
    }
}
@mixin m($modifier) {
    $seletor:&;
    $currentSelector:$seletor + $modifier--separator + $modifier;
    @at-root{
      #{$currentSelector}{
        @content;
      }
    }
  }
  
@mixin  when($state) {
  $selector:&;
  $currentState:$selector + '.' + $state-prefix + $state;

  @at-root{
      #{$currentState}{
      @content;
      }
  }
}
/* 断点（break points） */
@mixin res($key,$map:$--breakpoints) {
  @if map-has-key($map,$key) {
    @media only screen and #{ inspect(map-get($map, $key)) } {
      @content;
    }
  }
  @else {
    @warn "undefined points: `#{$map}` "
  }
}